.wrapper {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-bottom: 1px solid black;
}

.select {
  display: block;
  margin: 0 auto;
  min-width: 100px;
}